<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" ng-app="searchingManager" ng-controller="AppCtl">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <script type="text/javascript" src="/resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src ="/resource/js/angular.min.js"></script>
    <script type="text/javascript" src ="/resource/js/controller.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/resource/css/bootstrap.min.css" th:href="@{/resource/css/bootstrap.min.css}" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="row">
            <div class="col-lg-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
                        <span class="sr-only">Przełącz nawigację</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/robot}">Robot application!</a>
                </div>
                <div class="collapse navbar-collapse" id="nav-toggle">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/robot/books.html}" ng-init="getBooks()">Books list</a></li>
                        <li><a th:href="@{/robot/books2.html}">Books css grid</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sortuj <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Title</a></li>
                                <li><a href="#">Author</a></li>
                                <li><a href="#">Category</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Bookstore</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" aria-label="..." ng-model="search.title" placeholder="Szukaj">
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Title: </th>
                    <th>Author: </th>
                    <th>Category: </th>
                    <th>Price:</th>
                    <th>PromoDetails:</th>
                    <th>Bookstore:</th>
                    <th>Shop link:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in books | filter:search | orderBy:'title':true">
                    <td>{{book.title}}  {{book.subtitle}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.promoDetails}}</td>
                    <td>{{book.bookstore.name}}</td>
                    <td><a href="{{book.url}}">Kup mnie</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom" >
        <div class="container">
            <p class="navbar-text">
                Copyright © Paweł & Mateusz & Artur. All rights reserved.
            </p>
        </div>
    </div>
</body>
</html>