<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" ng-app="searchingManager" ng-controller="AppCtl">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <script type="text/javascript" src="/resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src ="/resource/js/angular.min.js"></script>
    <script type="text/javascript" src ="/resource/js/controller.js"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resource/css/social.css}" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">

    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>