<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="searchingManager" ng-controller="AppCtl" th:lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<div class="container" th:fragment="menu">
    <nav class="navbar navbar-default">

        <div class="center" style="text-align: center">
            <form class="navbar-form">
                <input type="text" class="form-control" aria-label="..." aria-describedby="sizing-addon2" ng-model="mAuthor" th:placeholder="#{nav.searchByAuthor}">
                <input type="text" class="form-control" aria-label="..." aria-describedby="sizing-addon2" ng-model="mTitle" th:placeholder="#{nav.searchByTitle}">
                <input type="text" class="form-control" aria-label="..." aria-describedby="sizing-addon2" ng-model="mCategory" th:placeholder="#{nav.searchByCategory}">
                <input type="text" class="form-control" aria-label="..." aria-describedby="sizing-addon2" ng-model="mBookstore" th:placeholder="#{nav.searchByBookstore}">
            </form>
        </div>

        </br>

        <div class="row">
            <div class="center" style="text-align: center">
                <div class="col-sm-6">
                    <form class="navbar-form">
                        <label for="price-min"><b th:text="#{nav.rangeLow}"/> {{lower}}</label>
                        <input type="range" ng-model="lower" id="price-min" value="0" min="0" max="500">
                    </form>
                    <form class="navbar-form">
                        <label for="price-max"><b th:text="#{nav.rangeHigh}" /> {{higher}}</label>
                        <input type="range" ng-model="higher" id="price-max" value="200" min="0" max="3000">
                    </form>
                </div>
                <div class="col-sm-6">
                    <form class="navbar-form">
                        <button type="button" class="btn btn-default" ng-click="getBooksByFilters(mAuthor, mTitle, mCategory, mBookstore, lower, higher, 0)" th:text="#{nav.findButton}"></button>
                        <button type="button" class="btn btn-default" ng-click="getBooksByFilters(mAuthor, mTitle, mCategory, mBookstore, 0, 0, 0)" th:text="#{nav.freeButton}"></button>
                        <button type="button" class="btn btn-default" ng-click="getBooksByFilters(mAuthor, mTitle, mCategory, mBookstore, 0, 3500, 1)" th:text="#{nav.newBooks}"></button>
                    </form>
                </div>
            </div>
        </div>

    </nav>
</div>
</body>
</html>