<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="searchingManager" ng-controller="AppCtl">
<head>
	<title>Books list</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<script type="text/javascript" src="/resource/js/jquery.min.js"></script>
	<script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
	<script type="text/javascript" src ="/resource/js/angular.min.js"></script>
	<script type="text/javascript" src ="/resource/js/controller.js"></script>
	<script type="text/javascript" src ="/resource/js/sortingScript.js"></script>
	<script type="text/javascript" src ="/resource/js/dirPagination.js"></script>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resource/css/social.css}" />
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: headerSearch"></div>
<div th:replace="fragments/pagination :: paginationUp"></div>
<div class="container" ng-init="getStartBooks()">
	<div class="row">
		<div dir-paginate="book in books | filter:search | itemsPerPage: pageSize" current-page="currentPage">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
					<img src="{{book.imgUrl}}" height="120" width="180"/>
						<h3>{{book.title}}  {{book.subtitle}}</h3>
						{{book.author}}
						{{book.category}}
						<p>{{book.price | currency:'PLN ' }}</p>
						<p>{{book.promoDetails}}</p>
						<p>{{book.bookstore.name}}</p>
						<p><a href="{{book.url}}" class="btn btn-warning btn-large">
							<span class="glyphicon-shopping-cart glyphicon"></span> Zamów teraz </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="fragments/pagination :: paginationDown"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>