<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="searchingManager" ng-controller="AppCtl">
<head>
    <title>Books list</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <script type="text/javascript" src="/resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src ="/resource/js/angular.min.js"></script>
    <script type="text/javascript" src ="/resource/js/controller.js"></script>
    <script type="text/javascript" src ="/resource/js/sortingScript.js"></script>
    <script type="text/javascript" src ="/resource/js/dirPagination.js"></script>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resource/css/social.css}" />
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: headerSearch"></div>


<div ng-hide="!isHidden">
    <div th:replace="fragments/searchMenu :: menu"></div>
</div>

<div th:replace="fragments/pagination :: paginationUp"></div>
<div class="container" ng-init="getBooksByFilters(mAuthor, mTitle, mCategory, mBookstore, lower, higher, 0) ">
    <div class="table-responsive">
        <table id="tblSort" class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th th:text="#{table.picture}"></th>
                <th onclick="sortTable('tblSort',1)" style="cursor:pointer" th:text="#{table.title}"></a></th>
                <th onclick="sortTable('tblSort',2)" style="cursor:pointer" th:text="#{table.author}"></a></th>
                <th onclick="sortTable('tblSort',3)" style="cursor:pointer" th:text="#{table.category}"></a></th>
                <th onclick="sortTable('tblSort',4)" style="cursor:pointer" th:text="#{table.price}"></a></th>
                <th onclick="sortTable('tblSort',5)" style="cursor:pointer" th:text="#{table.promoDetails}"></a></th>
                <th onclick="sortTable('tblSort',6)" style="cursor:pointer" th:text="#{table.bookstore}"></a></th>
                <th th:text="#{table.shopLink}"></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="book in books | filter:search | itemsPerPage: pageSize" current-page="currentPage" >
                <td><img src="{{book.imgUrl}}" height="92" width="70" alt="{{book.bookstore.url}}"/></td>
                <td>{{book.title}}  {{book.subtitle}}</td>
                <td>{{book.author}}</td>
                <td>{{book.category}}</td>
                <td>{{book.price | currency:'PLN ' }}</td>
                <td>{{book.promoDetails}}</td>
                <td>{{book.bookstore.name}}</td>
                <td>
                    <div ng-if="book.price != '0'">
                        <a href="{{book.url}}" class="btn btn-warning btn-large">
                            <span class="glyphicon-shopping-cart glyphicon"></span><b> </b><b th:text="#{table.shop.button}"/>
                        </a>
                    </div>
                    <div ng-if="book.price == '0'">
                        <a href="{{book.url}}" class="btn btn-success btn-large">
                            <span class="glyphicon-shopping-cart glyphicon"></span><b> </b><b th:text="#{table.shop.button}"/>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/pagination :: paginationDown"></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>