<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl" ng-app="searchingManager" ng-controller="AppCtl">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="navbar-text">
                        Copyright © Paweł & Mateusz & Artur & Wiktoria. All rights reserved.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="navbar-text navbar-right">
                        <a href="https://www.facebook.com/MumJustOneMoreChapter/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>